---
type Props = {
  title: string;
  span: string;
  jobType: string;
  designation: string;
  link: string;
  logo?: ImageMetadata;
};
import type { ImageMetadata } from "astro";
import { Icon } from "astro-icon/components";
import { Image } from "astro:assets";

const { title, span, jobType, designation, link, logo } = Astro.props;
---

<a
  href={link}
  class="group relative overflow-hidden rounded-xl border border-white/10 bg-white/5 p-6 transition-all duration-300 hover:border-white/20 hover:bg-white/[0.07]"
>
  <div class="flex justify-between">
    <div class="flex-1">
      <div class="flex items-center gap-3">
        {
          logo && (
            <Image src={logo} alt="" class="h-8 w-8 rounded-md object-cover" />
          )
        }
        <div>
          <h3 class="text-lg font-semibold text-white group-hover:underline">
            {title}
            <Icon
              name="ph:arrow-up-right-bold"
              class="ml-2 hidden h-4 w-4 transition-transform group-hover:inline-block group-hover:text-white/60"
            />
          </h3>
          <div class="text-sm text-white/80">
            <p>{designation}</p>
            <p class="text-white/60">{span}</p>
          </div>
        </div>
      </div>
    </div>

    <p
      class="h-fit rounded-md border-[0.5px] border-white/20 bg-white/10 px-2 py-1 text-xs text-white"
    >
      {jobType}
    </p>
  </div>

  <div class="mt-4 text-white/60">
    <slot />
  </div>

  <div
    class="absolute inset-0 -z-10 bg-gradient-to-b from-transparent to-white/[0.02] opacity-0 transition-opacity duration-300 group-hover:opacity-100"
  >
  </div>
</a>
