---
interface Props {
  className: string;
  id?: string;
}

const { className, id = "socials" } = Astro.props;
import SocialLinks from "@/constants/socials";
---

<div id={id} class={className}>
  {
    Object.entries(SocialLinks).map(([key, social]) => (
      <a href={social.url} title={social.title}>
        <img
          src={social.icon}
          alt={key}
          class="h-4 w-4 opacity-70 transition-all hover:scale-110 hover:opacity-100"
        />
      </a>
    ))
  }
</div>
