---
import { urlForImage } from "@/helpers/sanity";
import type { Blog } from "@/helpers/server-actions";
import { Image } from "astro:assets";

const { blog } = Astro.props as { blog: Blog };
---

<div
  class="flex h-full items-center rounded-3xl bg-gradient-to-b from-blue-800 to-purple-800 p-px"
>
  <div
    class="flex h-full w-full overflow-hidden rounded-[calc(1.5rem-1px)] bg-black p-3"
  >
    <Image
      transition:name={blog.slug.current}
      src={urlForImage(blog.mainImage.asset).url()}
      alt={blog.title}
      class="min-h-72 aspect-video w-[50%] rounded-[calc(1.5rem-2px)] object-cover"
      object-fit="cover"
      width="400"
      height="250"
    />
    <div class="flex flex-1 flex-col justify-between p-6">
      <div class="flex flex-col gap-4">
        <h2 class="mb-1 line-clamp-2 text-xl font-bold text-white">
          {blog.title}
        </h2>

        <p>
          {blog.seoDescription}
        </p>

        <div class="flex gap-3 text-sm">
          {blog.categories.map((category) => <span>#{category.title}</span>)}
        </div>
      </div>

      <div class="flex flex-row-reverse items-center justify-between">
        <a
          href={`/blog/${blog.slug?.current}`}
          class="rounded bg-accent p-1.5 px-3 text-sm font-bold text-white shadow-lg ring-accent ring-offset-2 ring-offset-black transition-all hover:ring-2"
        >
          Read More
        </a>
      </div>
    </div>
  </div>
</div>
